.format

In [1]:
print('This is Nader'+ 'Ghassemi')

This is NaderGhassemi

In [8]:
print('This is string {1} {0}'.format('Nader','Ghassemi'))

This is string Ghassemi Nader

In [11]:
print("{2} {1} {2}".format("Nader",'Ghassemmi','Awesome'))

Awesome Ghassemmi Awesome

In [14]:
print('The {b} {g} {f}'.format(f='cute', b='fox',g='orange'))

The fox orange cute

# float formating follows "{value:width.precision f}"

In [1]:
result = 100/777

In [2]:
result

0.1287001287001287

In [3]:
print("The result is {}".format(result))

The result is 0.1287001287001287

In [4]:
print("The result is {r}".format(r=result))

The result is 0.1287001287001287

In [10]:
print("The result is {r:1.5f}".format(r=result))

The result is 0.12870

In [29]:
print("The result is {r:1.2f}".format(r=result))

The result is 0.13

In [36]:
print("The result is {r:1.19f}".format(r=result))

The result is 0.1287001287001287020

In [38]:
print("The result is {r:1.19f}".format(r=result))

The result is 0.1287001287001287020

In [39]:
name='Jose'

In [40]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [42]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [46]:
name='be tokhmam'

In [47]:
print(f'Dorrod name man hast {name}')

Dorrod name man hast be tokhmam

In [48]:
print(f'hala harchi begi man migam {name}')

hala harchi begi man migam be tokhmam

In [49]:
name= 'Sam'
age=15

In [50]:
print(f'His name is {name} and his age is {age}')

His name is Sam and his age is 15

# Lists

In [11]:
my_list=[1,2,3]

In [12]:
my_list

[1, 2, 3]

In [13]:
my_list=['String',100.45, 44]

In [14]:
my_list

['String', 100.45, 44]

In [17]:
my_list=['one','two', 'three',6]
second_list=['four','five']

In [18]:
new_list=my_list+second_list
new_list

['one', 'two', 'three', 6, 'four', 'five']

In [19]:
new_list[1]='one all caps'
new_list

['one', 'one all caps', 'three', 6, 'four', 'five']

In [20]:
new_list

['one', 'one all caps', 'three', 6, 'four', 'five']

# .append() adds a new item to the end of the list

In [89]:
new_list.append('six')

In [90]:
new_list

['ONE ALL CAPS', 'one all caps', 'three', 'four', 'five', 'six']

# .pop() removes the last item to the end of the list

In [91]:
new_list.pop()

'six'

In [92]:
new_list

['ONE ALL CAPS', 'one all caps', 'three', 'four', 'five']

In [93]:
popped_item= new_list.pop()

In [94]:
popped_item

'five'

In [95]:
new_list

['ONE ALL CAPS', 'one all caps', 'three', 'four']

In [96]:
popped_item=new_list.pop(0)

In [97]:
new_list

['one all caps', 'three', 'four']

In [98]:
popped_item

'ONE ALL CAPS'

In [120]:
new_list=['g','f','h','o','a', 'd','b', 'c']

In [121]:
new_list.sort()

In [122]:
new_list

['a', 'b', 'c', 'd', 'f', 'g', 'h', 'o']

In [22]:
num_list=[2,1,0,-3,10,19.2]

In [23]:
num_list.pop()

19.2

In [24]:
num_list

[2, 1, 0, -3, 10]

In [124]:
num_list.sort()

In [125]:
num_list

[-3, 0, 1, 2, 10, 19.2]

In [126]:
new_list.reverse()

In [127]:
new_list

['o', 'h', 'g', 'f', 'd', 'c', 'b', 'a']

In [109]:
num_list.reverse()

In [110]:
num_list

[19.2, 10, -3, 0, 1, 2]